@font-face {
    font-family: 'Lato-Heavy.woff2' ;
    src: ('./Fonts/Lato-Heavy.woff2');
}

body {
    background-image: url("./Img/background.jpg");
    color: white;
}

header {
    text-align: center;
    font-family: 'Lato-Heavy.woff2', sans-serif;
    font-size: smaller;
    background-color: #23252b;
}

#Img-logo {
    height: 25px;  
}

#Logo {
    display: inline-block;
}

h2, h3 {
    text-align: center;
    color: white;
}

#Form {
    color: white;
    border: solid #23252b;
    background-color: #23252b;
    width: 430px;
    height: 200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

input {
    border: none;
    background-color: transparent;
}

#Container {
    text-align: center;
    padding: 20px;
}

button {
    background-color: #ff8533;
    width: 120px;
    height: 40px;
    border: none;
}

ul {
    display: inline-block;
    text-align: end;
    #a0a0a0
}
